# Configurações do Banco de Dados
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=predict_guard

# Configurações do Servidor
PORT=3001
BASE_URL=http://localhost:3001

# Configurações JWT
JWT_SECRET=aaf62a67cbad3f6bd0a640757fdd71ecef34a56de3cc6a28fef30496f20064fc
JWT_EXPIRES_IN=1h

# Configurações de Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880
ALLOWED_FILE_TYPES=image/jpeg,image/png,image/web
